@{
    ViewBag.Title = "Alpaca Home Page";
}

<div class="jumbotron">
    <h1>技術的メモ</h1>
    <p class="lead">このWebサイトは、現場や勉強会で集めた情報の蓄積をするために作成されています。
    <br />覚書を残すことは、きっと今後何かの役に立つはず・・・。</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Googleで検索</h2>
        <p>
            何はともあれ、わからないことはまずググりましょう。
            何も無しにすべてが理解できる人なんていないのです。
        </p>
        <p><a class="btn btn-default" href="https://www.google.co.jp/" target="_blank">Google検索 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>技術メモを投稿</h2>
        <p>カッチリした内容でなくても良いのです。初めから完璧を目指さず気ままにいきましょう。</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">技術メモを投稿する &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>技術メモを検索</h2>
        <p>過去の蓄積をあさりましょう。</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">技術メモを検索する &raquo;</a></p>
    </div>
</div>